* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.countries {
  /* margin-bottom: 8rem; */
  display: flex;

  font-size: 2rem;
  opacity: 0;
  transition: opacity 5s;
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  /* overflow: hidden; */
}

.neighbor::before {
  content: 'Neighbour country';
  width: 100%;
  position: absolute;
  top: -4rem;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}

.neighbor {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
}

.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.btn-country {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

.images {
  display: flex;
}

.images img {
  display: block;
  width: 80rem;
  margin: 4rem;
}

.images img.parallel {
  width: 40rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}

/*
Custom added css for custom added features
  <div class="search-container">
        <button>Search For Country</button>
        <input type="text" class="country-input-search" />
      </div>
*/

.search-container {
  margin: 15rem auto 0 auto;

  display: flex;
  gap: 2.5rem;
  justify-content: center;
}

.search-container button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 9px;
  text-decoration: none;
  background-color: #84cc16;
  color: #111827;
  font-size: 2.3rem;
  font-weight: 600;
}

.search-container button:hover {
  cursor: pointer;
}

.search-container input[type='text'] {
  width: 40rem;
  padding: 1rem 2rem;
  font-size: 2.3rem;
  font-weight: 600;
  color: #84cc16;
  border: none;
  border-bottom: 4px solid #84cc16;

  transition: border-bottom-color 0.5s ease-in;
}

.search-container input[type='text']:focus {
  outline: none;
  border-bottom-color: red;
}

.geo-panel {
  display: flex;
  gap: 2.3rem;
  align-items: center;
  padding: 2rem 1.5rem;
  margin-top: 3rem;
}

.span-geo-details {
  font-size: 2rem;
  font-weight: 500;
  color: #84cc16;
}

.container-coords {
  margin-top: 3rem;
  font-size: 2rem;

  justify-content: center;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.container-coords input {
  text-indent: 2rem;
  font-size: 2rem;
  width: 20%;
  height: 4rem;

  border: none;
  border-radius: 13px;
}

/* Adjust the placeholder indentation */
.container-coords input::placeholder {
  text-indent: 2rem; /* Negative value equal to padding-right */
  font-size: 1.5rem;
}
